<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<script>
		//  , category: category
		function cluster_data(url,category) {
			toastr.info('Clustering the data.... Please Hold On!', 'Info', {timeOut: 0})
			$.post('/cluster/data/' ,{ s3_file: url, category: category },function (data) {
				toastr.clear()
				toastr.success('Clustered data successfully', 'Success', {timeOut: 3000})
			})
			.fail(function(response) {
				var json = JSON.parse(response.responseText); //assume response.responseText is a json string
				toastr.error(json.message, 'Error', {timeOut: 3000})
			});
		}
	</script>
	<style>
		body 

		{
			margin:0px;
		}
		nav {
			/* margin: 50px 0; */
			background-color:#333;
		}

		nav ul {
			padding: 0;
			margin: 0;
			list-style: none;
			/* position: relative; */
			}
			
		nav ul li {
			display:inline-block;
			background-color: #333;
			}

		nav a {
			display:block;
			padding:0 10px;	
			color:#FFF;
			font-size:20px;
			line-height: 50px;
			text-decoration:none;
		}

		nav a:hover { 
			background-color: #000000; 
		}

		/* Hide Dropdowns by Default */
		nav ul ul {
			display: none;
			position: absolute; 
			top: 50px; /* the height of the main nav */
		}
			
		/* Display Dropdowns on Hover */
		nav ul li:hover > ul {
			display:inherit;
		}
			
		/* Fisrt Tier Dropdown */
		nav ul ul li {
			/* width:140px; */
			float:none;
			display:list-item;
			position: relative;
		}

		/* Second, Third and more Tiers	*/
		nav ul ul ul li {
			position: relative;
			top:-60px; 
			left:170px;
		}

			
		/* Change this in order to change the Dropdown symbol */
		li > a:after { content:  ' +'; }
		li > a:only-child:after { content: ''; }

		#keywords {
			font-family: Arial, Helvetica, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}

		#keywords td, #keywords th {
			border: 1px solid #ddd;
			padding: 8px;
		}

		#keywords tr:nth-child(even){background-color: #f2f2f2;}

		#keywords tr:hover {background-color: #ddd;}

		#keywords th {
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: left;
			background-color: #111;
			color: white;
		}

		.button {
			background-color: blue;
			padding: 8px 24px;
			border-radius: 4px;
			color: #FFF;
			font-size: 14px;
			border: none;
			/* text-transform: uppercase; */
			font-weight: 600;
		}
	</style>
</head>
<body>

<nav>
	<ul>
		<li><a href="/">Process 1</a></li>
		<li><a href="#">Process 2</a>
		<ul>
			<!-- <li><a style="font-size: 16px;" href="http://ec2-13-126-117-106.ap-south-1.compute.amazonaws.com:8000/files/?key=without-duplicates">Remove Duplicates</a></li> -->
			<li><a style="font-size: 16px;" href="http://ec2-13-126-117-106.ap-south-1.compute.amazonaws.com:8000/files/?key=clustered-data">Clustering</a></li>
			<li><a style="font-size: 16px;" href="http://ec2-13-126-117-106.ap-south-1.compute.amazonaws.com:8000/files/?key=cluster-centroid">Cluster Centroid</a></li>
			<li><a style="font-size: 16px;" href="http://ec2-13-126-117-106.ap-south-1.compute.amazonaws.com:8000/files/?key=cluster-representative">Cluster Representative</a></li>
			<li><a style="font-size: 16px;" href="http://ec2-13-126-117-106.ap-south-1.compute.amazonaws.com:8000/files/?key=keyword-theme">Keyword Theme</a></li>
		</ul>        
		</li>
		<li><a href="#">Process 3</a>
			<ul>
				<li><a style="font-size: 16px;" href="http://ec2-13-126-117-106.ap-south-1.compute.amazonaws.com:8000/files/?key=centroid-volume">Centroid Volume</a></li>
				<!-- <li><a style="font-size: 16px;" href="http://ec2-13-126-117-106.ap-south-1.compute.amazonaws.com:8000/files/?key=monthly-searches">Monthly Search Volume</a></li> -->
			</ul>
		</li>
		<li><a href="http://ec2-13-126-117-106.ap-south-1.compute.amazonaws.com:8000/files/?key=elastic-search-input">Process 4</a></li>
	</ul>
</nav>

<div style="padding:20px;margin-top:30px;">
	<table id="keywords" style="margin-top: 50px;">
		<thead>
		   <tr>
			  <th>Category</th>
			  <th>Download link of the file</th>
			  <th>Action</th>
		   </tr>
		</thead>
		<tbody>
			{% for file_data in data %}
				<tr>
					<td>{{ file_data.category }}</td>
					<td>
						<a href="{{ file_data.file_url }}" target="_blank">
							{{ file_data.file_url }}
						</a>
					</td>
					<td><input type="submit" class="button" value="Cluster Data" onclick="cluster_data('{{file_data.file_url}}','{{ file_data.category }}');" /></td> 
				</tr>
				{% empty %}
					<tr><td colspan="5">Currently no Data Available</td></tr>
			{% endfor %}
		</tbody>
	</table>
</div>

</body>
</html>
